<!DOCTYPE html>
<html>
<head>
  <title>About us</title>
</head>
<body>
  <h1>Welcome To Our Jungle!</h1>
  <p>We got funs and games they said, but obviously that's not true. This is actually a secret page that you were not supposed to run into.</p>
</body>
</html>