body {
  max-width: 960px;
}

#external-links{
  width:20%;
  display: inline-block;
  vertical-align: top;
}

main{
  width:74%;
  display: inline-block;
  padding-left: 5%;
}
blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}



@media screen and (max-width: 500px) {
  * {

  }
  #external-links {
    /*max-width: 100%;*/
    position: relative;
    display: block;
    width: 100%;
  }
  main {
    max-width: 100%;
  }
  main p {
    font-size: 20px;
  }
  main li {
    font-size: 20px;
  }
  blockquote {
    font-size: 16px;
  }
  #external-links a {
    font-size: auto;
    background-color: orange;
    color: black;
    padding: 10px;
    margin: 1px;
    height: 26px;
    width 100%;
    display: block;
    border: 2px solid black;
    text-align: center;
  }
  #external-links h1 {
    text-align: center;
  }
}
